h1{                          
                            fron-side:70px;
                            color:red
}
img{
                            height:500px;
                            width:aunto;

}
#special{
                               front-sides:40px;
                               color: helow;
}